body
{
  background-color:#f5f5f5;
}
.login-page{
  background-image: url('../../images/29184509.jpg');
  /* background-repeat: no-repeat; */
  background-size: cover;
}
.logo-image{
  height: 72px;
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}
.imagePreview_update{
  width: 100%;
  height: 180px;
  background-position: center center;
  background-color:#fff;
    background-size: cover;
  background-repeat:no-repeat;
    display: inline-block;
  box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}
.pro_des{
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
 
}
.imagePreview {
  width: 100%;
  height: 180px;
  background-position: center center;
  background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
  background-color:#fff;
    background-size: cover;
  background-repeat:no-repeat;
    display: inline-block;
  box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}
.btn-primary
{
  display:block;
  border-radius:0px;
  box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
  margin-top:-5px;
}
.imgUp
{
  margin-bottom:15px;
  margin: 0 auto;
}
.del
{
  position:absolute;
  top:0px;
  right:15px;
  width:30px;
  height:30px;
  text-align:center;
  line-height:30px;
  background-color:rgba(255,255,255,0.6);
  cursor:pointer;
}
.imgAdd
{
  width:30px;
  height:30px;
  border-radius:50%;
  background-color:#4bd7ef;
  color:#fff;
  box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
  text-align:center;
  line-height:30px;
  margin-top:0px;
  cursor:pointer;
  font-size:15px;
}
.cat_des
{
 max-width: 100px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}
.pagination {
  margin: 0;
}

.pageButton {
  padding: 10px 20px;
    background: white;
    border-radius: 50%;
}

.header-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pageSelected{
  background-color: #51cbce;
  color: white;
}

.pagination li:hover{
    cursor: pointer;
}

.header_wrap {
  padding:30px 0;
}
.num_rows {
  width: 20%;
  float:left;
}
.tb_search{
  width: 20%;
  float:right;
}
.pagination-container {
  width: 70%;
  float:left;
}

.rows_count {
  width: 20%;
  float:right;
  text-align:right;
  color: #999;
}
table th, td{
  text-align: center;
}
.fa-eye{
  font-size: 1.7em;
}
.avata_user{
  height: 150px;
  width: 150px;
  margin-left: 15%;
}
.phone_number_verified{
  color: #18c53f  !important;
  font-weight: 600;
}
.user_approved{
  color: #18c53f  !important;
  font-weight: 600;
}
.user_pagenation{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.plus, .minus {
  display: inline-block; 
background-repeat: no-repeat;
background-size: 16px 16px !important;
width: 16px;
height: 16px; 
  /*vertical-align: middle;*/
}

.plus {
  background-image: url(https://img.icons8.com/color/48/000000/plus.png);
}

.minus {
  background-image: url(https://img.icons8.com/color/48/000000/minus.png);
}

ul {
  list-style: none;
  padding: 0px 0px 0px 20px;
}

  ul.inner_ul li:before {
      content: "├";
      font-size: 18px;
      margin-left: -11px;
      margin-top: -5px;
      vertical-align: middle;
      float: left;
      width: 8px;
      color: #41424e;
  }

  ul.inner_ul li:last-child:before {
      content: "└";
  }

.inner_ul {
  padding: 0px 0px 0px 35px;
}
.pagenation_client{
  margin-bottom: 20px;
}
.discount-icon-trash{
  font-size: 1.4em;
  color: #dc3545;
}
.discount-icon-detail{
  font-size: 1.4em;
}
.discount-add-product{
  font-size: 1.2em !important;
}
.discount-add-sub-product{
  font-size: 0.95em !important;
  color: darkgreen !important;
}


